<main class="container">
<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/home" class="nav-link" routerLinkActive="active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/films" class="nav-link" routerLinkActive="active"  href="#">Films</a>
    </li>
  </ul>
</nav>
  <router-outlet></router-outlet>
</main>
<app-modal></app-modal>
