.container {
  background-color: #64819a;
  margin: 0 auto;
  border-radius: 0;
  padding: 1em 10px;

  @media only screen and (min-width: 425px) {
    margin: 1em auto;
    border-radius: 0.6em;
    padding: 1em 15px;
  }
}

.nav {
  &.nav-tabs {
    padding-top: 1em;
  }

  .nav-link {
    background-color: white;
    &.active {
      background-color: #ececec;
    }
  }

  .nav-item:first-child {
    .nav-link {
      border-top-right-radius: 0 !important;
    }
  }

  .nav-item:nth-child(2) {
    .nav-link {
      border-top-left-radius: 0 !important;
    }
  }
}
