.filmsList {
  &.list-group {
    padding-bottom: 1em;
  }

  .list-group-item {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;

    &:hover {
      opacity: 0.8;
    }

    &.odd {
      background-color: #ececec;
    }

    @media only screen and (min-width: 425px) {
      flex-flow: row nowrap;
    }
  }

  .filmsList__copy {
    display: flex;
    flex-flow: column nowrap;
  }

  .filmsList__poster {
    margin-right: 0;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1em;

    @media only screen and (min-width: 425px) {
      margin-right: 20px;
      margin-bottom: 0;
      max-width: 154px;
    }
  }

  .filmsList__noResults {
    text-align: center;
    color: white;
  }
}

.searchForm {
  margin-top: 1em;

  label {
    color: white;
  }
}

.loader {
  width: 75px;
  position: fixed;
  z-index: 10;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
