<form class="searchForm">
  <label for="search-box">Enter Film</label>
  <div class="input-group mb-3">
    <input class="form-control" id="search-box" [formControl]="searchField" required placeholder="Enter Film" aria-label="Enter Film">
  </div>
</form>

<div class="text-center">
  <img class="loader" *ngIf="loading" src="/assets/loading.gif" alt="loader"/>
</div>

<div class="filmsList list-group">
  <div *ngFor="let film of filmsList$ | async; let isOdd=odd" [class.odd]="isOdd" class="list-group-item" (click)="openModal(film)">
    <img class="filmsList__poster" alt="{{film.original_title}}" src="{{film.poster_path}}">
    <div class="filmsList__copy">
      <h5>{{film.original_title}}</h5>
      <p>{{film.overview}}</p>
    </div>
  </div>
  <h3 *ngIf="noResults" class="filmsList__noResults">No Results</h3>
</div>
