<div class="modal" [ngClass]="{showModal:openModal}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="message">{{message.original_title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="openModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p *ngIf="message">{{message.overview}}</p>
        <div *ngIf="message">
          <strong>Release Date: </strong>
          <span class="badge badge-primary">{{message.release_date | date}}</span>
        </div>
        <div *ngIf="message">
          <strong>Vote Average: </strong>
          <span class="badge badge-primary">{{message.vote_average}}</span>
        </div>
        <div *ngIf="message">
          <strong>Vote Count: </strong>
          <span class="badge badge-primary">{{message.vote_count | number:'2.'}}</span>
        </div>
      </div>
    </div>
  </div>
