.modal {
  display: block;
  opacity: 0;
  transition: 0.3s;
  background-color: rgba(1, 1, 1, 0.7);
  pointer-events: none;
  & * {
    pointer-events: none;
  }

  &.showModal {
    opacity: 1;
    pointer-events: all;
    & * {
      pointer-events: all;
    }
  }

  .modal-header,
  .badge-primary {
    background-color: #64819a;
    color: white;
  }

  .modal-content {
    border-radius: 8px;
  }
}
