<div class="homePage jumbotron jumbotron-fluid">
  <div class="container">
    <div class="homePage__contact">
      <p>Sean Anderson</p>
      <a href="mailto:seanandersonmke@gmail.com">seanandersonmke@gmail.com</a>
      <div><span>Source Code: </span><a target="_blank" class="homepage__bbLink" href="https://bitbucket.org/seanandersonmke/angular-demo/src/master/">Bitbucket</a></div>
    </div>
    <h1 class="display-5">Sean's Angular Demo</h1>
    <p class="lead">
      I made this demo to refresh my AngularJs skills. It has been a few years since I have used Angular, making this site was a fun refresher for me. This is a basic demo but I think it demonstrates a common practice within web development...getting data from a source and doing something with it.
    </p>
    <p>In the films tab, the search input returns an <code>Observable</code> which gets passed through <code>debounceTime</code> and <code>distinctUntilChanged</code> to limit the amount of API calls. The search then makes a <code>HTTP GET</code> call to public <a href="https://www.themoviedb.org/">The Movie Db</a> API. Clicking a film from the list uses an onclick method to pass data and open a modal.</p>
    <p>I used Bootstrap CSS framework for brevity but I typically do not use CSS frameworks when doing custom designs from a design document. I usually find it more of a hinderance than helpful. But I can use any CSS framework if required.</p>
    <p>My AngularJs skills are a little rusty but my general Javascript skills are quite solid. I can pick up AngularJs or any JS framework within a week or two.</p>
    <p>The design for this site is just a quick thing I improvised but I am capable of creating very complex custom templates from PSD documents.</p>
    <p>I have some experience with server admin/devops, and have worked in a variety of development environments. This site is hosted using AWS, deployed to an S3 bucket with Cloudfront. I have experience with Apache/LAMP stack, Node, NPM, Tomcat, Jetty, Maven, JCR, Docker, GIT, Mercurial, Webpack, Grunt, Gulp, CloudFront, S3 Buckets, Route 53 (whew!) and other common web dev technologies. I can update this site using a simple NPM command that runs an AWS CLI script and deploys my code.</p>
    <p>I have some backend experience, mostly PHP, and a little bit of Python. I can usually make light backend changes for front end needs as I can read and understand most backend code.</p>
    <p>Also experienced in SEO, accessibility optimization, setting up analytics, integrating websites with social media sites (Pinterest, Facebook, Twitter metadata, also creating Facebook apps).</p>
    <p>Thanks for looking!</p>
  </div>
</div>
