.homePage {
  .homePage__contact {
    display: flex;
    justify-content: flex-end;
    flex-flow: column nowrap;
    text-align: right;

    p {
      margin: 0;
    }
  }

  .homepage__bbLink {
    display: inline-block;
  }
}
